# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Profiling data
.prof

# Temporary files
*.tmp
*.bak
*.old
*.orig

.ipynb_checkpoints/
*.nbconvert.ipynb
*.ipynb_checkpoints/
**/.ipynb_checkpoints/

output/
participants/

containers_depr/

*-shm

# Celery beat schedule files
celerybeat-schedule
celerybeat-schedule.*
celerybeat-schedule*

celerybeat.pid
celery.pid

# Celery result backend files
celerydb.sqlite
celery-results.sqlite

# Celery worker files
celeryd.pid
*.pid
